/* 
*** Limpar formatação ***
*/
* {
    margin: 0;
    padding: 0;
}

/* 
*** Formatação geral ***
*/
body {
    background-color: #f8f8f8;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

#banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: #df1b35e0 url(../Imagens/banner_menstruacao.jpg) no-repeat center;
}

#banner h1 {
    padding: 0;
    text-align: center;
    line-height: 200px;
}

/*
img.img-banner {
    width: 100%;
} */

/* 
*** Formatação elementos textuais ***
*/
h1, h2, p, #nav-menu, .simbolos {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h1, h2, a {
    color: #df1b35e0;
}

h1 {
    font-size: 4em;
    text-align: center;
    padding: 50px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

.simbolos {
    font-weight: bold;
}

/* 
*** Menu - Nav. bar ***
*/
#nav-menu {
    background-color: #df1b35e0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin: 0px;
}

#nav-menu ul {
    list-style: none;
    display: flex;
    padding: 5px;
}

#nav-menu ul li {
    font-weight: bold;
    color: white;
    font-size: 1em;
    padding: 2px 5px 3px;
}

#nav-menu ul li a {
    font-weight: bold;
    color: white;
    font-size: 1em;
    margin-bottom: 2px;
    padding: 3px 6px 4px;
    text-decoration: none;
}

#nav-menu ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: #df1b35e0;
    border-radius: 4px;
}

body.home #nav-menu a#home,
body.calendar #nav-menu a#calendar,
body.references #nav-menu a#references 
{
    border-bottom: 2px solid white;
    border-radius: 3px;
    cursor: text;
}

body.home #nav-menu a#home:hover,
body.calendar #nav-menu a#calendar:hover,
body.references #nav-menu a#references:hover 
{
    background: none;
    color: white;
}

/* 
*** Box ***
*/
#box-about {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: #ebeaea solid 2px;
    border-radius: 10px;
    background-color: white;
}

.box-title {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 5px solid #df1b35e0;
}

.box-text {
    color: rgba(0, 0, 0, 0.753);
    padding: 15px;
    text-align: justify;
}

/* 
*** Rodapé ***
*/
#credits-creator, .subtitulo-credits-creator, .titulo-credits-creator, #direitos {
    text-align: center;
}

#credits-creator {
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo-credits-creator {
    margin-top: 2px;
    margin-bottom: 0px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.icon {
    margin-bottom: -3px;
    height: 20px;
    width: 20px;
}

.titulo-credits-creator {
    padding: 2px 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #df1b35e0;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}
   
img.img-creator {
    padding: 2px;
    border-radius: 0 15px;
    background-color: #df1b35e0;
    width: 80px;
    height: 80px;
}

#direitos {
    clear: both;
    padding: 15px;
    color: #df1b35e0;
}