/* 
*** Limpar formatação ***
*/
* {
    margin: 0;
    padding: 0;
}

/* 
*** Formatação geral ***
*/
body {
    background-color: white;
    color: black;
    min-width: 400px;
}
/* 
*** Animações ***
*/
@keyframes box {
    from {
        margin-top: -10px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes nav-ul {
    from {
        margin-right: -20%;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes logo {
    from {
        margin-left: -50%;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes faixa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 
*** Elementos textuais ***
*/
h1, h2, a {
    color: #df1b35e0;
}

h1 {
    font-size: 4em;
    text-align: center;
    padding: 50px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #df1b35e0;
    text-decoration: none;
    font-weight: bold;
}

button:focus {
    outline: white 0.15rem solid;
    background-color: white;
}

p {
    text-align: justify;
}

body.calendar p {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.2em;
    text-align: justify;
}

.direitos {
    font-weight: bold;
}

/*  Logotipo */
#logo {
    animation: logo 1.5s;
}

#logo img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

#logo .logo-texto {
    font-size: 1.1em;
    letter-spacing: 1.5px;
    color: white;
    font-style: italic;
    font-weight: bold;
    margin-left: 0.5rem;
}

/* 
*** Menu - Nav. bar ***
*/
nav {
    background-color: #df1b35e0;
    box-shadow: 0 2px 10px -2px rgba(36, 40, 44, 0.418);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    padding: 0.15rem 0.25rem;
}

body.home nav ul {
    animation:nav-ul 2s;
}

nav ul li {
    font-weight: bold;
    color: white;
    font-size: 1em;
    padding: 2px 5px 3px;
}

nav ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: #df1b35e0;
    border-radius: 4px;
}

nav button i {
    color: white;
}

nav button:focus i {
    color: #df1b35e0;
}

.icon {
    width: 20px; 
    height: 20px;
}

body.home nav a#home,
body.calendar nav a#calendar,
body.references nav a#references 
{
    border-radius: 3px;
    cursor: text;
}

body.home nav a#home:hover,
body.calendar nav a#calendar:hover,
body.references nav a#references:hover 
{
    background: none;
    color: white;
}

/* 
*** Layout ***
*
div#background-img {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    
}

div#background-img img {
    width: 40%;
}*/

#col-sobre {
    width: 50%;
}

/* 
*** Box ***
*/
#box {
    display: flex;
    flex-direction: column;
    border: #ebeaea solid 2px;
    border-radius: 10px;
    background-color: white;
    animation: box 2.5s;
}

#box h2 {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 5px solid #df1b35e0;
}

/* 
*** Rodapé ***
*/
#rodape {
    width: fit-content;
}

.credits-creator {
    justify-content: center;
    align-items: center;
}

.credits-creator h3 {
    padding: 2px 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #df1b35e0;
    color: white;
    font-weight: bold;
}
   
.credits-creator img#foto {
    padding: 2px;
    border-radius: 0 15px;
    background-color: #df1b35e0;
    width: 80px;
    height: 80px;
}

.credits-creator img.icon {
    width: 20px;
    height: 20px;
}

#copyright {
    background: #df1b35e0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 1px ridge white;
    border-bottom: 1px ridge white;
    line-height: 1.2em;
}

#copyright * {
    animation: faixa 3s;
}

#copyright a {
    color: white;
    font-weight: bold;
}

.small {
    font-size: 70%;
}

/* 
*** Tabelas ***
*/
table {
    width: 60%;
    border-collapse: separate;
    margin: auto;
}

th, td {
    padding: 7px;
}

th {
    color: #df1b35e0;
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

td {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 1px;
}

tr.alternado {
    background-color: #efefef;
}

.data {
    text-align: right;
}

#cabecalho:hover {
    background-color: #f8f8f8;
}

tr:hover {
    background-color: white;
}