.titulo {
    font-family: "Trebuchet MS", sans-serif;
    color: #df1b35e0;
    text-align: center;
}

#nav-menu {
    border-radius: 10px;
    background-color: #df1b35e0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu-item {
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    display: inline;
    margin: 5px;
    position: relative;
    border-bottom: 2px solid white;
}

a {
    color: #df1b35e0;
    text-decoration: none;
}