body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: cursive;
}

#titulo {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 80px;
    color: #df1b35e0;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0px;
    position: relative;
    top: 50px;
}

#about {
    text-align: left;
    margin-right: 40%;
}

.text-about {
    margin-left: 5%;
}

#nav-menu {
    background-color: #df1b35e0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.nav-menu-item {
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: inline;
    margin: 2px 6px 5px;
    padding: 2px 5px;
    position: relative;
    border-bottom: 2px solid white;
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: #df1b35e0;
}


h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #df1b35e0;
    margin-bottom: 0px;
}

a {
    color: #df1b35e0;
    text-decoration: none;
}

p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    border-left: #df1b35e0 solid 2px;
    margin-top: 10px;
    padding-left: 5px;
}

.footer {
    position: relative;
    bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-footer {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0px;
    border: none;
    font-family: cursive;
    font-size: 15px;
    font-weight: bold;
}

.icon {
    margin-bottom: -3px;
    height: 20px;
    width: 20px;
}

.feitoPor {
    text-align: center;
    padding: 1px 6px 3px 5px;
    border-radius: 5px;
    background-color: #df1b35e0;
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    width: fit-content;
    margin-bottom: 0.5em;
}
   
.picInsta {
    padding: 2px;
    border-radius: 0 15px;
    background-color: #df1b35e0;
    width: 80px;
    height: 80px;
}

.img-banner {
    position: relative;
}

.banner {
    display: flex;
}