body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: cursive;
}

#titulo {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 80px;
    color: #df1b35e0;
    text-align: center;
    margin-bottom: -5px;
}

#Sobre {
    text-align: left;
    margin-right: 40%;
}

#menu {
    text-align: center;
    border-radius: 10px;
    background-color: #df1b35e0;
    margin: 0px 39% 0px 38.9%;
    padding: 5px;
}

.menuItem {
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #df1b35e0;
    margin-bottom: 0px;
}

a {
    color: #df1b35e0;
    text-decoration: none;
}

p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    padding-left: 5px;
    border-left: #df1b35e0 solid 2px;
}

Rodape {
    margin-top: 80%;
}

#texto-rodape {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0px;
    border: none;
    font-family: cursive;
    font-size: 15px;
    font-weight: bold;
}

.texto-sobre {
    margin: auto 0px 0px 5%;
}

.icon {
    margin-bottom: -3px;
    height: 20px;
    width: 20px;
}

.feitoPor {
    text-align: center;
    padding: 0px 0px 3px;
    margin-top: 30%;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 5px;
    background-color: #df1b35e0;
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
}
   
.picInsta {
    margin-top: -10px;
    padding: 2px;
    border-radius: 0 15px;
    background-color: #df1b35e0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
}

li {
    position: relative;
    display: inline-block;
}