/* 
    Limpar formatação
*/
* {
    margin: 0;
    padding: 0;
}

/* 
    Formatação geral
*/
body {
    background-color: rgba(241, 240, 240, 0.452);
    color: black;
    font-family: cursive;
}

h1, h2, p, #nav-menu, .simbolos {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.simbolos {
    font-weight: bold;
}

h1 {
    color: #df1b35e0;
    font-size: 4em;
    text-align: center;
    padding: 50px;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    color: #df1b35e0;
    margin-bottom: 0px;
}

a {
    color: #df1b35e0;
    text-decoration: none;
}

p {
    font-size: 1em;
}

/* 
    Menu - Nav. bar
*/
#nav-menu {
    background-color: #df1b35e0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    font-weight: bold;
}

.nav-menu-item {
    color: white;
    font-size: 1em;
    display: inline;
    margin-bottom: 2px;
    padding: 2px 5px 3px;
}

.nav-menu-item-paginaAtual {
    color: white;
    font-size: 1em;
    display: inline;
    margin-bottom: 2px;
    padding: 2px 5px;
    position: relative;
    border-bottom: 2px solid white;
}

.nav-menu-item:hover, .nav-menu-item-paginaAtual:hover {
    background-color: rgb(255, 255, 255);
    color: #df1b35e0;
}

/* 
    Box
*/
#box-about {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

.box-title, .box-text {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.box-title {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 5px solid #df1b35e0;
}

.box-text {
    color: rgba(0, 0, 0, 0.753);
    padding: 15px;
    text-align: justify;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* 
    Rodapé
*/
#credits-creator {
    position: relative;
    bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo-credits-creator {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.icon {
    margin-bottom: -3px;
    height: 20px;
    width: 20px;
}

.titulo-credits-creator {
    text-align: center;
    padding: 1px 6px 3px 5px;
    border-radius: 5px;
    background-color: #df1b35e0;
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    width: fit-content;
    margin-bottom: 0.5em;
}
   
.picInsta {
    padding: 2px;
    border-radius: 0 15px;
    background-color: #df1b35e0;
    width: 80px;
    height: 80px;
}

#direitos {
    clear: both;
    text-align: center;
    padding: 15px;
}