body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: cursive;
}

.titulo {
    font-family: "Trebuchet MS", sans-serif;
    color: #df1b35e0;
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 3em;
}

#nav-menu {
    background-color: #df1b35e0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.nav-menu-item {
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: inline;
    margin-bottom: 2px;
    padding: 2px 5px 3px;
    position: relative;
}

.nav-menu-item-paginaAtual {
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: inline;
    margin-bottom: 2px;
    padding: 2px 5px;
    position: relative;
    border-bottom: 2px solid white;
}

.nav-menu-item:hover, .nav-menu-item-paginaAtual:hover {
    background-color: rgb(255, 255, 255);
    color: #df1b35e0;
}

a {
    color: #df1b35e0;
    text-decoration: none;
}

p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    border-left: #df1b35e0 solid 2px;
    margin-top: 10px;
    padding-left: 5px;
}