.titulo {
    font-family: "Trebuchet MS", sans-serif;
    color: #df1b35e0;
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 3em;
}

#nav-menu {
    background-color: #df1b35e0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.nav-menu-item {
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    display: inline;
    margin: 2px 8px 5px;
    position: relative;
    border-bottom: 2px solid white;
}

a {
    color: #df1b35e0;
    text-decoration: none;
}